<!-- templates/registration/register.html -->
{% extends "todoapp/layout.html" %}

{% block content %}
<div class="ui container" style="margin-top: 50px;">
    <h2 class="ui center aligned header">Регистрация</h2>
    <form method="post" class="ui form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="ui primary button">Зарегистрироваться</button>
    </form>
    <div style="margin-top: 20px;">
        <a href="{% url 'login' %}" class="ui blue button">Уже есть аккаунт? Войти</a>
    </div>
</div>
{% endblock %}
