{% extends 'todoapp/layout.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Календарь задач</h1>

    <!-- Кнопка возврата на главную страницу -->
    <div style="margin-bottom: 20px;">
        <a href="{% url 'index' %}" class="ui teal basic button">
            <i class="arrow left icon"></i>
            Вернуться на главную
        </a>
    </div>

    <!-- Календарь -->
    <div id="calendar" style="margin-top: 20px;"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var todayDate = new Date().toISOString().split('T')[0]; // Текущая дата в формате YYYY-MM-DD
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: [
                {% for todo in todo_list %}
                {
                    title: '{{ todo.title }}',
                    start: '{{ todo.deadline|date:"Y-m-d" }}',
                    url: '{% url 'update' todo_id=todo.id %}',
                    classNames: ['event' {% if todo.deadline < today_date %} ,'overdue' {% endif %}]
                },
                {% endfor %}
            ],
            editable: true,
            selectable: true
        });
        calendar.render();
    });
</script>

{% endblock content %}
