{% extends 'todoapp/layout.html' %}

{% block content %}
<div style="margin-top: 50px;" class="ui container">
    <!-- Кнопка возврата на главную страницу -->
    <div style="margin-bottom: 20px;">
        <a href="{% url 'index' %}" class="ui teal basic button">
            <i class="arrow left icon"></i>
            Вернуться на главную
        </a>
    </div>
    <h1 class="ui center aligned header">Редактировать задачу</h1>

    <form class="ui form" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Название задачи</label>
            <input type="text" name="title" value="{{ todo.title }}" required>
        </div>
        <div class="field">
            <label>Срок выполнения</label>
            <input type="date" name="deadline" value="{{ todo.deadline|date:"Y-m-d" }}">
        </div>
        <div class="field">
            <label>Приоритет</label>
            <select name="priority" class="ui dropdown">
                <option value="">Не указан</option>
                <option value="L" {% if todo.priority == 'L' %}selected{% endif %}>Низкий</option>
                <option value="M" {% if todo.priority == 'M' %}selected{% endif %}>Средний</option>
                <option value="H" {% if todo.priority == 'H' %}selected{% endif %}>Высокий</option>
            </select>
        </div>
        <div class="field">
            <label>Категории</label>
            <div class="ui fluid multiple search selection dropdown">
                <input type="hidden" name="categories" value="{{ todo.categories.all|join:',' }}">
                <i class="dropdown icon"></i>
                <div class="default text">Выберите категории</div>
                <div class="menu">
                    {% for category in categories %}
                    <div class="item" data-value="{{ category.id }}">{{ category.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button class="ui teal basic button" type="submit">Сохранить</button>
    </form>
</div>
{% endblock %}
